* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.first-section {
    background-image: url(images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    height: 800px;

}

.first-section h1 {
    font-size: 65px;
    font-weight: 700;
    padding: 216px 150px 0px 740px;
    margin-bottom: 20px;
}
.first-section p {
    color: var(--Dark-02, #444343);
    font-size: 18px;
    padding: 0px 150px 0px 740px;
    margin-bottom: 30px;
}
.first-section button {
    color: white;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 25px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    margin-bottom: 100px;
    margin-right: 150px;
}
